#stat_bar{
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 40%;
}

#bar_handler{
    padding-left: 0;
    padding-right: 0;
}

.sprite{
    width: 50%;
    height: 100%;
}

.border{
    border-radius: 10px;
    border-color: white;
}
